.papa {
    font-family: 'Open Sans' serif;
}

.text1 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.text2 {
    text-decoration: line-through;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px; 
}

.text3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;

}

.text4{
    word-spacing: 30px;
    color: rgb(79, 0, 116);
    text-decoration-line: overline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2.3px;
    font-size: 20px;
}

.text5{
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness:2px;
    font-size: 20px;
}