body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: #181E34;
    /* font-size: 16px; */
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================================= */
.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    background-color: #FFFFFF;
    border-radius: 100px;
    color: #2766ae;
    padding: 14px 30px;
    font-weight: 500;
}

/* ===================================== */

.hero {
    background: url("../img/hero-bg.jpeg") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    text-transform: uppercase;
    color: #01a2cb;
    font-weight: 700;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;

}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    padding: 18px 30px;
    justify-content: center;
    display: flex;
}

.hero-button-one img,
.hero-button-two img {
    margin-left: 4px;

}

.hero-button-one {
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);
}

.hero-button-two {
    background: linear-gradient(129.14deg, rgb(0, 164, 204) 5.902%, rgb(39, 102, 174) 91.537%);
}

.margin-bottom {
    margin-bottom: 10px;
}

/*  ====================================== */

.cards {
    padding: 120px 0;
}

.cards-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
}

.cards-text {
    text-align: center;
    max-width: 513px;
    margin: 0 auto 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -28px;
    padding-bottom: 30px;
    margin: 0 -120px;
}

.cards-flex-item {
    margin-bottom: 28px;
    padding: 0 14px;
    flex: 0 0 25%;
}

.cards-flex-inner {
    border: 2px solid rgb(23, 107, 174);
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgb(25, 124, 184);
    padding: 28px 15px;
}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.cards-flex-text {
    text-align: center;
}

.cards-button {
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);
    display: block;
    text-align: center;
    min-width: 436px;
    margin: 0 auto;
}

/* ===================================================================== */

.footer {
    border-top: 1px solid rgb(50, 57, 82);
    padding: 60px 0;
}

.footer-inner {
    display: flex;
}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block ;
    margin-bottom: 15px;
}

.footer-col{
    max-width: 204px;
    width: 100%;
}

.footer-col-margin{
    margin-right: 28px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-item{
    margin-bottom: 10px;
}