body{
    background-color: #202020;
}

.container .text{
    display: none;
}

.container .block:hover .text{
    display:block
}


.block{
    background-color: #545454;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    transition: 1s;

}

.text{
    color: green;
    font-size: 40px;

}

::before{
    content: '';
    display: block;
}

